body {
    background-color: antiquewhite;
}

img {
    width: 200px;
}

.head {
    font-size: xx-large;
}

td {
    width: 400px;
    text-align: center;
}

p {
    font-weight: bold;
    font-style: italic;
}

ul {
    list-style-type: square;
}

li {
    text-align: left;
}

button {
    background-color: bisque;
    border-radius: 10px;
}